@model RatesCalc.Web.Models.CustomerDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


<hr />
<div class="row">
    <div class="col-md-3">
        <h4>Customer</h4>
        @await Html.PartialAsync("Partials/Customer/_CustomerForm", Model)
    </div>
    <div class="col-md-9">
        <h4>Agreements</h4>
        @foreach (var item in Model.Agreements)
        {
            @await Html.PartialAsync("Partials/Customer/_CustomerAgreements", item)
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

