@model RatesCalc.Web.Models.CustomerDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


<hr />
<div class="row">
    <div class="col-md-3">
        <h4>Customer</h4>
        @await Html.PartialAsync("Partials/Customer/_CustomerForm", Model)
    </div>
    <div class="col-md-9">
        <h4>Agreements</h4>
        @await Html.PartialAsync("Partials/Customer/_CustomerAgreements", Model.Agreements)

        @Html.AntiForgeryToken()
        <input type="button" value="Calculate Rates" class="btn btn-primary" onclick="calculateInterestRate();" />
        <div id="calculated-results" class="pt-3"></div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

