@model IEnumerable<RatesCalc.Web.Models.CustomerDTO>
@{
    ViewData["Title"] = "Index";
}

<h1>Customers</h1>

<div class="my-3 p-3 bg-white rounded shadow-sm">
    @foreach (var item in Model)
    {
        @await Html.PartialAsync("Partials/Customer/_CustomerDetails", item)
    }
</div>
