@model RatesCalc.Web.Models.CustomerDTO
<form asp-action="Details">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="PersonalId" class="control-label"></label>
        <input asp-for="PersonalId" class="form-control" disabled />
        <span asp-validation-for="PersonalId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" disabled />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    @*<div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>*@
</form>