<div class="sidebar-sticky">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" asp-area="" asp-controller="Customer" asp-action="Index">
                <span data-feather="file"></span>
                Customers
            </a>
        </li>
    </ul>
</div>